* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1408px;
  margin: auto;
}

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #ffffff;
}

.header_logo {
  display: flex;
  justify-content: center;
  margin-left: 146px;
}

.logo {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-right: 241px;
}

.header_menu {
  align-items: center;
  flex-flow: row nowrap;
  flex-grow: 1;
  font-family: "Barlow", sans-serif;
}

.header_button {
  margin: auto;
}

.button {
  margin: 0;
  width: 200px;
  height: 60px;
  background-color: #5b6460;
  border: none;

}

.button-text {
  color: #ffffff;
}

.header_menu ul {
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  align-items: center;
}

.header_menu li {
  margin-right: 36px;
  padding-top: 38px;
}

.header_menu li:last-child {
  margin-right: 0;
}

.main_contact_phone-email ul {
  list-style: none;
}

.header_menu a {
  margin: 0;
  font-size: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.main {
  font-family: "Open Sans", sans-serif;
}

.main_content,
.main_content-area {
  display: flex;
  padding-bottom: 113px;
  justify-content: center;
}

.main_content_link {
  position: absolute;
  flex-flow: row nowrap;
  padding-top: 154px;
  font-style: normal;
}

.main_content_link a {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.main_content-area .main_content_title {
  padding-left: 0;
}

.main_content-area_button {
  position: absolute;
  display: flex;
  margin-top: 228px;

}

.main_content-area_button button {
  width: 180px;
  height: 55px;
  margin-right: 24px;
  align-items: center;
  border: 0.7px solid #ffffff;
  background-color: rgba(28, 28, 28, 0);

}

.main_button_text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.main_content_title {
  position: absolute;
  padding-left: 596px;
  flex-flow: row nowrap;
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 72px;
  text-align: right;
  color: #ffffff;

}

.main_content_text {
  padding-left: 933px;
  padding-right: 142px;
  padding-top: 140px;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.main_content_price {
  position: absolute;
  display: flex;
  padding-left: 146px;
  padding-top: 637px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.main_content_price button {
  width: 263px;
  height: 100px;
}

.main_content_price .button-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.main_content_price_night {
  position: absolute;
  margin-left: 263px;
  width: 120px;
  height: 100px;
  background-color: #e9ece0;
}

.main_content_price_night p {
  margin: 0;
}

.main_content_price_night_from,
.main_content_price_night_night {
  padding-left: 29px;
  padding-top: 22px;
  font-weight: 300;
  font-size: 12px;
}

.main_content_price_night_night {
  padding-top: 0;
  padding-left: 41px;
}

.main_content_price_night_money {
  width: 60px;
  height: 28px;
  padding-left: 28px;
  font-weight: 500;
  font-size: 20px;
  color: #333333;

}

.main_article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.main_article_content {
  margin-left: 147px;
}

.main_article_content_title {
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #5b6460;
}

.main_article_content_text {
  padding-right: 105px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.main_article a {
  padding-top: 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #5b6460;
}

.main_photo-album {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-bottom: 150px;
}

.main_article .main_article_map {
  padding-left: 110px;
}

.main_article_map {
  background: #e9ece0;
  z-index: -1;
}

.main_article_map .main_article_content_text {
  margin-top: 50px;
}

.main_article_ .main_article_map a {
  font-style: italic;
}

.main_article_map .main_article_content_title {
  margin-top: 150px;
}

.main_post_content_excerption {
  margin-top: 30px;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #5b6460;
}

.main_map {
  display: flex;
  margin-left: 260px;
  margin-right: 53px;
  margin-bottom: 153px;
}

.main_map_title {
  margin-top: 100px;
  margin-right: 96px;
  line-height: 56px;
}

.main_facilities {
  width: 1408px;
  height: 971px;
  margin-top: -155px;
  font-style: normal;
  color: #ffffff;
  background-color: #5b6460;

}

.main_facilities_title {
  padding-top: 150px;
  padding-bottom: 100px;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

.main_facilities_cards {
  display: flex;
  flex-wrap: wrap;
  width: 829px;
  height: 555px;
  justify-content: space-around;
  margin-left: 290px;
}

.main_facilities_cards_card {
  width: 143px;
  height: 138px;
  align-items: center;
  padding-right: 180px;
  padding-bottom: 83px;
}

.main_facilities_cards_card_text {
  text-align: center;
  width: 144px;
  padding-top: 15px;
  font-weight: 400;
  font-size: 18px;
}

.main_facilities_cards_card_img {
  width: 70px;
  height: 70px;
  align-items: center;
  padding-left: 37px;
}


.main_foto {
  display: flex;
  width: 1408px;
  height: 971px;
}

.main_foto_img {
  width: 704px;
  height: 559px;
}

.main_foto_about-us {
  position: absolute;
  display: flex;
  margin-top: 202px;
  margin-left: 626px;
}

.button_about-us {
  width: 156px;
  height: 156px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #333333;
  border-radius: 100px;
  border: none;
  background-color: #e9ece0;

}

.main_contact {
  display: flex;
  margin-left: 146px;
  margin-top: -250px;
  margin-bottom: 133px;
}

.main_contact_about {
  display: flex;
  margin-left: 146px;
  margin-bottom: 133px;
}

.main_contact_title h3 {
  padding-bottom: 50px;
  padding-right: 345px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #5b6460;
}

.main_contact_phone-email p {
  color: #000000;
}

.main_contact_phone-email ul {
  margin-bottom: 27px;
  padding-left: 6px;
}

.main_contact_social {
  display: flex;
}

.main_contact_social img {
  padding-right: 43px;
}

.main_contact_price {
  width: 386px;
  height: 288px;
}

.main_contact_price_img {
  width: 386px;
  height: 188px;
}

.main_contact_price_button {
  position: absolute;
  display: flex;
  width: 386px;
  height: 100px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.main_contact_price_button button {
  width: 266px;
  height: 100px;
}

.main_contact_price_button .main_content_price_night {
  position: relative;
  width: 120px;
  height: 100px;
  margin: 0;
}

.main_post,
.main_post-2,
.main_post-3 {
  display: flex;
  width: 1117px;
  height: 547px;
  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 162px;
}

.main_post-3 .main_article_content_title {
  margin-right: -16px;
}


.main_post_content {
  margin-left: 138px;
  margin-bottom: 150px;
}

.main_post_content_link a {
  margin-right: 31px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5b6460;
}

.main_post_content_link {
  margin-bottom: 48px;
}

.main_post_content .main_article_content_text {
  width: 429px;
  height: 243px;
  padding-right: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.main_post-2 .main_post_content {
  margin-left: 0;
  margin-right: 137px;
}

.main_post_title {
  margin-left: 146px;
  margin-bottom: 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
}

.main_about_title {
  margin-left: 436px;
  margin-bottom: 100px;
  margin-right: 435px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
}


.main_block-foto {
  display: flex;
  height: 387px;
  width: 1354px;
  margin-left: 43px;
  margin-right: 30px;
  margin-bottom: 26px;
}

.main_block-foto-title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}

.main_block-foto .main_post_content_excerption {
  margin-left: 67px;
  margin-right: 66px;
  padding-top: 90px;
}

.main_block-foto-title_post {
  width: 299px;
  height: 144px;
}

.main_faq-content {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 146px;
  margin-right: 448px;
  margin-bottom: 150px;
  color: #333333;
}

.main_faq-question {
  margin-bottom: 24px;
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.main_faq-content_text {
  margin-top: 24px;
  padding-bottom: 50px;
  padding-left: 24px;
  background: #E9ECE0;
}

.main_faq-content_text_title {
  padding-top: 21px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.main_faq-content_text_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.panel-title {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 24px;
  font-size: 24px;
  cursor: pointer;
}

.panel-content {
  position: relative;
  z-index: -1;
  margin: 0 14px;
  padding: 0px 14px;
  height: 0;
  overflow: hidden;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked~.panel-content {
  height: auto;
  padding: 14px;
  opacity: 1;
}

.arrow {
  position: absolute;
  right: 448px;
  z-index: 6;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked~.arrow {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.footer {
  width: 100%;
  height: 477px;
  margin-top: -10px;
  background-color: #5b6460;
}

.footer_news {
  display: flex;
  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 40px;
  align-items: center;
  color: #ffffff;
}

.footer_news_title {
  margin-top: 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.footer_news .header_menu a {
  color: #ffffff;
}

.footer_news .header_menu ul {
  flex-direction: row-reverse;
}

.footer_news .header_menu li {
  margin-top: 103px;
  padding-right: 31px;
  padding-top: 0;
}

.footer_news .header_menu li:first-child {
  margin-right: -31px;
}

.footer_email-pay {
  display: flex;
  margin-left: 146px;
  margin-right: 146px;
  align-items: center;
  justify-content: space-between;
}

.footer_email-pay_pay {
  margin-top: 40px;
}


form {
  position: relative;
  width: 432px;
  margin: 0 auto;
  background: #5b6460;
  border-bottom: 1px solid #ffffff;
}

input,
.form-button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  width: 100%;
  height: 42px;
}

.form-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  cursor: pointer;
  color: #5b6460;
  background: transparent;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}

.footer_email-pay_title {
  margin-left: 146px;
  margin-right: 844px;
  margin-bottom: 70px;
}

.footer_email-pay_text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
}

.footer_link {
  padding-bottom: 100px;
  background: #5b6460;
}

.footer_link_text {
  margin-left: 146px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.7;
}



@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header_menu {
    padding-left: 95px;
  }

  .header_button {
    margin: 0px;
  }

  .logo {
    padding-right: 0;
  }

  .header_logo {
    margin-left: 132px;
  }

  .header_button {
    margin-right: 132px;
  }

  .main_content_title {
    padding-left: 500px;
    padding-right: 0;
  }


  .main_content_text {
    padding-right: 95px;
  }

  .main_article_content_text {
    padding-right: 50px;
    padding-bottom: 0;
  }

  .main_content_price {
    left: 0;
  }

  .main_photo-album img {
    padding-right: 0;
  }

  .main_foto {
    width: 1280px;
  }

  .main_foto_img {
    width: 640px;
  }

  .main_foto_about-us {
    margin-left: 555px;
  }

  .main_facilities {
    width: 1280px;
  }

  .main_photo-album {
    margin-left: 0;
  }

  .main_post,
  .main_post-2,
  .main_post-3 {
    margin-left: 132px;
    margin-right: 132px;
    margin-bottom: 100px;
  }

  .main_post_content {
    margin-left: 150px;
  }

  .main_block-foto {
    margin-left: 24px;
  }

  .main_block-foto-title_post {
    width: 432px;
    height: 387px;
    margin-left: 20px;
    margin-right: 20px;
    background: #E9ECE0;
  }

  .main_block-foto-title {
    margin-left: 20px;
  }

  .main_block-foto-title .main_post_content_excerption {
    margin-top: 70px;
    padding-left: 67px;
    padding-right: 67px;
  }

  .main_contact {
    margin-left: 132px;
  }

  .footer {
    width: 1280px;
  }

  .footer_news {
    margin-left: 132px;
  }

  .footer_email-pay {
    margin-left: 132px;
  }

  .footer_email-pay_title {
    margin-left: 132px;
  }

  .footer_link_text {
    margin-left: 132px;
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  .logo {
    padding-right: 0;
  }

  .header_menu {
    padding-left: 0px;
  }

  .header_logo {
    margin-left: 50px;
  }

  .button {
    width: 150px;
  }

  .header_button {
    margin-right: 50px;
  }

  .header_menu li {
    margin-right: 16px;
    padding-top: 38px;
  }

  .header_menu li:last-child {
    margin-right: 0;
  }

  .main_contact_phone-email ul {
    list-style: none;
  }

  .header_menu a {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    color: #000000;
  }

  .main_content,
  .main_content-area {
    width: 768px;
    padding-bottom: 113px;
  }

  .main_content_title {
    padding-right: 0;
    padding-left: 100px;
    font-weight: 300;
    font-size: 40px;
  }

  .main_content_text {
    padding-left: 200px;
    padding-right: 142px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 20px;
  }


  .main_article {
    display: block;
    margin-left: 35px;
  }

  .main_article_content {
    margin-left: 35px;
    margin-bottom: 35px;
  }

  .main_article_content_title {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #5b6460;
  }

  .main_article_content_text {
    padding-right: 50px;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 16px;
  }

  .main_photo-album {
    display: block;
    margin-left: 150px;
    margin-bottom: 50px;
  }

  .main_article {
    display: block;
    margin-bottom: 0;
    margin-left: 35px;
  }

  .main_article .main_article_map {
    margin-right: 30px;
    margin-bottom: 165px;
    padding: 30px;
  }

  .main_article_map .main_article_content_title {
    margin-top: 10px;
  }

  .main_article_map .main_article_content_text {
    margin-top: 50px;
    font-size: 16px;
  }

  .main_facilities {
    height: 800px;
    width: 768px;
    margin-top: -155px;
  }

  .main_facilities_title {
    padding-top: 50px;
    padding-bottom: 50px;

  }

  .main_facilities_cards {
    width: 768px;
    height: 555px;
    margin-left: 10px;
    margin-right: 0;
  }

  .main_foto {
    display: block;
    width: 768px;
    margin-right: 30px;
    margin-bottom: 450px;
  }

  .main_foto_img {
    width: 786px;
  }

  .main_foto_about-us {
    margin-left: 318px;
    margin-top: -640px;
  }

  .main_contact {
    margin-left: 30px;
    margin-top: -250px;
    margin-bottom: 50px;
  }

  .main_contact_title {
    padding-bottom: 10px;
    padding-right: 18px;
    font-weight: 300;
    font-size: 30px;
  }

  .main_contact_title h3 {
    padding-bottom: 0;
    padding-right: 0;
    font-weight: 400;
    font-size: 40px;
  }

  .main_article_content_text {
    padding-right: 50px;
    padding-bottom: 0;
    font-size: 16px;
  }

  .main_post,
  .main_post-2,
  .main_post-3 {
    display: block;
    margin-bottom: 400px;
  }

  .main_post_content {
    margin-left: 0;
    margin-bottom: 0;
  }

  .main_post_content_link {
    margin-left: 0;
  }

  .main_post_content .main_article_content_text {
    width: 546px;
    margin-bottom: 50px;
  }

  .footer {
    width: 768px;
    height: 477px;
    margin-top: -10px;
  }

  .footer_news {
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 80px;
  }

  .footer_email-pay {
    margin-left: 30px;
    margin-right: 30px;
  }

  form {
    width: 332px;
  }

  .footer_email-pay_pay {
    margin-top: 0;
  }

  .footer_email-pay_title {
    width: 332px;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  .footer_link {
    padding-bottom: 50px;
  }

  .footer_link_text {
    margin-left: 30px;
  }

  .main_faq-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px
  }

  .arrow {
    right: 55px;
  }

  .panel-content {
    margin: 0 14px;
  }
}